body::before {
  content: "";
  display: block;
  height: 60px;
}
h1 {
  font-size: 60px;
}

.bg-peach {
  background: linear-gradient(170deg, #f2709c, #ff9472) !important;
}
.text-purple {
  color: #6c63ff !important;
}
.bg-purple {
  background: #4b43e4 !important;
}
.bg-purple-low {
  background: #4b43e485;
}
.nav-link:hover {
  color: #6c63ff !important;
}

.landing-title {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.stack-options {
  cursor: pointer;
}
.stack-options > h3:hover {
  color: #4b43e4 !important;
}
.opt-active {
  color: #6c63ff !important;
}

.backend-image {
  width: 40% !important;
}
hr {
  color: #44883e;
  border: solid 2px #44883e;
}
.logo-container {
  transition: transform 50ms;
  height: 30vh;
}
.logo-container > a > img:hover {
  transform: scale(1.02);
}

.node-icon {
  width: 25% !important;
}
.mongo-icon {
  width: 35% !important;
}
.jwt-icon {
  width: 20% !important;
}
.express-icon {
  width: 30% !important;
}
@media screen and (min-width: 1200px) {
  .node-icon {
    left: 5%;
    top: 25%;
    z-index: 1;
  }
  .mongo-icon {
    left: 22%;
    top: 57%;
    z-index: 3;
  }
  .jwt-icon {
    left: 29%;
    top: 9%;
    z-index: 0;
  }
  .express-icon {
    left: 48%;
    top: 26%;
    z-index: 2;
  }
}
.bg-mongoose {
  background: #800;
}
.bg-express {
  background: #f0f0f0;
}
.bg-mongodb {
  background: #033b37;
}
.bg-nodejs {
  background: #79b461;
}
.bg-jwt {
  background: linear-gradient(to right, #fb015b, #d63aff, #00b9f1, #00f2e6);
}
.bg-html {
  background: #e55327;
}
.bg-css {
  background: #1b77bc;
}
.bg-bootstrap {
  background: #7952b3;
}
.bg-js {
  background: #f0db4f;
}
.bg-react {
  background: #61dafb;
}
