body::before {
  content: "";
  display: block;
  height: 60px;
}
h1 {
  font-size: 60px;
}

html::-webkit-scrollbar{
  width: 15px;
  background: #212529;
}
html::-webkit-scrollbar-track{
background: #212529;
}
html::-webkit-slider-thumb{
background: red;}

.bg-peach {
  background: linear-gradient(170deg, #f2709c, #ff9472) !important;
}
.text-purple {
  color: #6c63ff !important;
}
.bg-purple {
  background: #4b43e4 !important;
}
.bg-darkaccent{
  background: #3f3d56;
}
.bg-blueaccent{
  background: #39527f;
}
.text-blueaccent{
  color: #39527f;
}
.bg-purple-low {
  background: #4b43e485;
}
.nav-link{
  transition: transform 80ms
}
.nav-link:hover {
  color: #39527f !important;
  transform: scale(1.05);
}

.landing-title {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.73);
}

.frontend-list-section {
  top: -0.8vh;
}

.backend-image {
  width: 40% !important;
}
hr {
  color: #44883e;
  border: solid 2px #44883e;
}
.hr-blue{
  color: #3f3d56 !important;
  border: solid 2px #3f3d56 !important;
}
.hr-lightblue{
  color: #4675cc;
  border: solid 2px #4675cc;
}
.hr-dark{
  color: #39527f !important;
  border: solid 2px #39527f !important;
}
.bg-vlow {
  background: #ffffff0e;
}
.bg-low{
 background: #ffffff70
}
.person-image{
  aspect-ratio: 1;
  border: 15px solid #39527f;
}
.aboutme-text{
  text-align: justify;
  text-shadow: 1px 1px 1px #424242df
}
.logo-container {
  transition: transform 50ms;
  height: 25vh;
  top: -0.6vh;
}
.logo-container > a > img:hover {
  transform: scale(1.02);
}

.node-icon {
  width: 25% !important;
}
.mongo-icon {
  width: 35% !important;
}
.jwt-icon {
  width: 20% !important;
}
.express-icon {
  width: 30% !important;
}

.bg-mongoose {
  background: #800;
}
.bg-express {
  background: #f0f0f0;
}
.bg-mongodb {
  background: #033b37;
}
.bg-nodejs {
  background: #79b461;
}
.bg-jwt {
  background: linear-gradient(to right, #fb015b, #d63aff, #00b9f1, #00f2e6);
}
.bg-json{
  background: #414141;
}
.bg-html {
  background: #e55327;
}
.bg-css {
  background: #1b77bc;
}
.bg-bootstrap {
  background: #7952b3;
}
.bg-js {
  background: #f0db4f;
}
.bg-react {
  background: #61dafb;
  text-shadow: 1px 1px 1px #424242df
}

.update{
  transition: transform 100ms;
  position: relative;
}
.update::before{
  content:'';
  width: 6px;
  position: absolute;
  top: -12%;
  bottom: -15%;
  left: -5%;
  border-radius: 5px;
  background: #39527f;
  pointer-events: none;
}
.update::after{
  position: absolute;
  content:'';
  width: 5%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #1f2327;
  border: solid 5px #4675cc;
  top:40%;
  left: -7%;
  box-shadow: 3px 3px 3px #272424

}

.updateDate{
  position: relative;
}
.updateContent{
  position: relative;
  width: 100%;
  margin-inline: 2%;
}

.controlProjectCont{
  transform: rotate(3deg);
  top: -5%;
  left: -15%;
  overflow:hidden;
}
.controlProjectCont > * {
  transform: rotate(-3deg)
}
.control-app-heading{
  font-family: 'Oswald';
  background-image: linear-gradient(170deg, #f2709c, #ff9472);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 5px 3px #fff;
  letter-spacing: 2px;

}

/*large screens*/
@media screen and (min-width: 1200px) {
  .node-icon {
    left: 5%;
    top: 25%;
    z-index: 1;
  }
  .mongo-icon {
    left: 22%;
    top: 57%;
    z-index: 3;
  }
  .jwt-icon {
    left: 29%;
    top: 9%;
    z-index: 0;
  }
  .express-icon {
    left: 47%;
    top: 31%;
    z-index: 2;
  }
  .updateDate{
    min-width: 20%;
    max-width: 20%;
  }
  .update{
    width: 60%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .updateDate{
    min-width: 200px;
  }
  .update{
    min-width: 100%;
    width: 100%;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .updateDate{
    min-width: 150px;
  }
  .update{
    min-width: 100% ;
    width: 100% ;
  }
  
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}